<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<script>
var process = "<%=proc %>";
var msg = "<%=msg %>";
var seq="<%=seq %>";
if(process == "updateAf"){
        if(msg == "OK") {
                alert("성공적으로 수정되었습니다");
                location.href = 'bbsdetail?seq='+seq;
            }
            else{
                alert("수정에 실패 하였습니다");
                history.back();
            } 
}

</script>  
</body>